# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import pprint

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part1_csv_file = "../WeatherPy/random_cities_weather_data_file.csv"
random_cities_weather_df = pd.read_csv(part1_csv_file)
random_cities_weather_df = random_cities_weather_df.drop(columns=["Unnamed: 0"])

In [3]:

random_cities_weather_df.head(4)

,City_Name,Country_Code,Latitude,Longititude,Temprature,Humidity,cloudiness,wind_speed
0,saint-philippe,re,-56.221530,66.735628,76.82,65,20,23.04
1,dukuhturi,id,-6.836002,108.847204,87.12,64,69,6.13
2,nuuk,gl,65.340080,-50.845383,30.09,86,89,4.70
3,new norfolk,au,-67.252573,128.168859,57.18,63,40,11.41

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
cities_humidity_df = random_cities_weather_df["Humidity"].astype(float)
cities_humidity_max_df = cities_humidity_df.max()
cities_location_df = random_cities_weather_df[["Latitude","Longititude"]]

In [6]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(cities_location_df, weights=cities_humidity_df,
                                 dissipating=False, max_intensity=cities_humidity_max_df , point_radius=3)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### New DataFrame fitting weather criteria
- Tempratuture greater than 70 and less than 80
- wind speed less than 10mph
- zero cloudiness

In [15]:
condition1 = random_cities_weather_df["cloudiness"] == 0
condition2 = random_cities_weather_df["Temprature"] >50 
condition3 = random_cities_weather_df["Temprature"] <=80
condition4 = random_cities_weather_df["wind_speed"] <=10
mask_df = random_cities_weather_df[condition1 & condition2 & condition3 & condition4 ].reset_index(drop=True)
mask_df

,City_Name,Country_Code,Latitude,Longititude,Temprature,Humidity,cloudiness,wind_speed
0,cape town,za,-59.045523,-4.950902,63.30,77,0,9.17
1,port alfred,za,-89.745337,43.939570,69.35,64,0,7.07
2,petropavlovsk-kamchatskiy,ru,50.437335,159.511476,51.80,32,0,4.47
3,tessalit,ml,22.315007,3.824591,78.24,17,0,6.04
4,murgab,tm,37.277700,62.728764,57.20,44,0,6.93
5,port elizabeth,za,-86.132761,32.148474,66.20,68,0,3.36
6,eregli,tr,37.359392,34.399306,61.70,46,0,0.18
7,xining,cn,35.366935,101.351054,54.30,33,0,3.04
8,jumla,np,33.094356,84.472604,66.60,27,0,6.44
9,qena,eg,26.801000,32.653905,75.20,38,0,2.24
10,huoqiu,cn,32.477453,116.561344,69.87,28,0,5.50
11,plettenberg bay,za,-35.925397,23.845670,69.87,41,0,1.12
12,mingshui,cn,36.837691,117.297358,68.00,21,0,3.00
13,joshimath,in,32.966348,80.917935,64.40,26,0,7.45
14,topolobampo,mx,25.098967,-109.859953,79.00,92,0,2.95
15,komatipoort,za,-24.763552,31.773187,73.00,71,0,5.44
16,matamoros,mx,25.300884,-97.217100,66.97,60,0,3.20
17,fuling,cn,29.863516,107.761067,71.04,47,0,4.16
18,guerrero negro,mx,18.120040,-127.019569,66.99,88,0,9.19
19,mehran,ir,33.252696,45.905998,69.80,16,0,4.70
20,buraydah,sa,27.664997,43.319203,75.20,33,0,3.36
21,saldanha,za,-33.502255,13.669956,57.20,82,0,8.05
22,diego de almagro,cl,-26.582837,-69.957176,52.18,68,0,0.49
23,renqiu,cn,38.743630,116.273840,62.80,24,0,6.24
24,rundu,na,-17.481829,20.596792,76.84,18,0,6.13
25,urumqi,cn,40.944772,89.982202,60.80,18,0,6.71
26,linxia,cn,33.208723,100.662549,58.71,33,0,3.78
27,kastamonu,tr,41.923591,33.745791,55.02,63,0,0.54
28,sohag,eg,23.528975,28.323022,75.20,36,0,6.93
29,safranbolu,tr,42.075821,32.897520,59.76,57,0,1.86
30,riyadh,sa,21.716803,47.436305,68.00,30,0,3.36
31,kruisfontein,za,-37.876563,24.257439,69.01,54,0,1.01
32,safaga,eg,26.484647,35.019427,75.20,57,0,8.05
33,baghdad,iq,32.129849,44.936125,78.80,44,0,9.17
34,lithakia,gr,35.774947,19.577202,59.00,87,0,7.74
35,huangchuan,cn,32.566828,115.192746,71.98,30,0,5.82
36,orodara,bf,11.082284,-5.067406,73.40,88,0,4.14
37,korla,cn,36.358345,88.991260,65.28,23,0,9.31
38,ankang,cn,32.646908,109.081060,74.07,39,0,1.16
39,tabas,ir,34.573526,57.556902,73.51,15,0,1.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [44]:
hotel_df = random_cities_weather_df[condition1 & condition2 & condition3 & condition4 ]
hotel_df = hotel_df.copy()
hotel_df["Hotel Name"] =''
hotel_df.reset_index(inplace= True,drop = True)
hotellist= []
hotel_df

,City_Name,Country_Code,Latitude,Longititude,Temprature,Humidity,cloudiness,wind_speed,Hotel Name
0,cape town,za,-59.045523,-4.950902,63.30,77,0,9.17,
1,port alfred,za,-89.745337,43.939570,69.35,64,0,7.07,
2,petropavlovsk-kamchatskiy,ru,50.437335,159.511476,51.80,32,0,4.47,
3,tessalit,ml,22.315007,3.824591,78.24,17,0,6.04,
4,murgab,tm,37.277700,62.728764,57.20,44,0,6.93,
5,port elizabeth,za,-86.132761,32.148474,66.20,68,0,3.36,
6,eregli,tr,37.359392,34.399306,61.70,46,0,0.18,
7,xining,cn,35.366935,101.351054,54.30,33,0,3.04,
8,jumla,np,33.094356,84.472604,66.60,27,0,6.44,
9,qena,eg,26.801000,32.653905,75.20,38,0,2.24,
10,huoqiu,cn,32.477453,116.561344,69.87,28,0,5.50,
11,plettenberg bay,za,-35.925397,23.845670,69.87,41,0,1.12,
12,mingshui,cn,36.837691,117.297358,68.00,21,0,3.00,
13,joshimath,in,32.966348,80.917935,64.40,26,0,7.45,
14,topolobampo,mx,25.098967,-109.859953,79.00,92,0,2.95,
15,komatipoort,za,-24.763552,31.773187,73.00,71,0,5.44,
16,matamoros,mx,25.300884,-97.217100,66.97,60,0,3.20,
17,fuling,cn,29.863516,107.761067,71.04,47,0,4.16,
18,guerrero negro,mx,18.120040,-127.019569,66.99,88,0,9.19,
19,mehran,ir,33.252696,45.905998,69.80,16,0,4.70,
20,buraydah,sa,27.664997,43.319203,75.20,33,0,3.36,
21,saldanha,za,-33.502255,13.669956,57.20,82,0,8.05,
22,diego de almagro,cl,-26.582837,-69.957176,52.18,68,0,0.49,
23,renqiu,cn,38.743630,116.273840,62.80,24,0,6.24,
24,rundu,na,-17.481829,20.596792,76.84,18,0,6.13,
25,urumqi,cn,40.944772,89.982202,60.80,18,0,6.71,
26,linxia,cn,33.208723,100.662549,58.71,33,0,3.78,
27,kastamonu,tr,41.923591,33.745791,55.02,63,0,0.54,
28,sohag,eg,23.528975,28.323022,75.20,36,0,6.93,
29,safranbolu,tr,42.075821,32.897520,59.76,57,0,1.86,
30,riyadh,sa,21.716803,47.436305,68.00,30,0,3.36,
31,kruisfontein,za,-37.876563,24.257439,69.01,54,0,1.01,
32,safaga,eg,26.484647,35.019427,75.20,57,0,8.05,
33,baghdad,iq,32.129849,44.936125,78.80,44,0,9.17,
34,lithakia,gr,35.774947,19.577202,59.00,87,0,7.74,
35,huangchuan,cn,32.566828,115.192746,71.98,30,0,5.82,
36,orodara,bf,11.082284,-5.067406,73.40,88,0,4.14,
37,korla,cn,36.358345,88.991260,65.28,23,0,9.31,
38,ankang,cn,32.646908,109.081060,74.07,39,0,1.16,
39,tabas,ir,34.573526,57.556902,73.51,15,0,1.83,

In [52]:
hotellist= []
i = 0
for i in range(len(hotel_df)):
    lat = hotel_df.loc[i]["Latitude"]
    lng = hotel_df.loc[i]["Longititude"]
    params = {
            "location": f"{lat},{lng}",
            "language": "en",
            "radius": 5000,
            "types": "hotel",         
            "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params = params)
    data = response.json()
    if data['status'] == "OK":
        #data['results'][0]['name']
        #print("OK if")
        
        hotel_df.loc[i,"Hotel Name"] = data['results'][0]['name']
        xxxx = data['results'][0]['name']
        #print(f'For {i} row value is : {xxxx}')
    else:
        hotellist.append("")
        #print(f'Appended : Blank')
        

#hotellist[2] = "Non English response"
#hotel_df["Hotel Name"] = hotellist
hotel_df = hotel_df.dropna(how='any')
hotel_df.head(20)

,City_Name,Country_Code,Latitude,Longititude,Temprature,Humidity,cloudiness,wind_speed,Hotel Name
0,cape town,za,-59.045523,-4.950902,63.30,77,0,9.17,
1,port alfred,za,-89.745337,43.939570,69.35,64,0,7.07,
2,petropavlovsk-kamchatskiy,ru,50.437335,159.511476,51.80,32,0,4.47,
3,tessalit,ml,22.315007,3.824591,78.24,17,0,6.04,Abalessa
4,murgab,tm,37.277700,62.728764,57.20,44,0,6.93,
5,port elizabeth,za,-86.132761,32.148474,66.20,68,0,3.36,
6,eregli,tr,37.359392,34.399306,61.70,46,0,0.18,
7,xining,cn,35.366935,101.351054,54.30,33,0,3.04,Hainan Tibetan Autonomous Prefecture
8,jumla,np,33.094356,84.472604,66.60,27,0,6.44,Ngari Prefecture
9,qena,eg,26.801000,32.653905,75.20,38,0,2.24,
10,huoqiu,cn,32.477453,116.561344,69.87,28,0,5.50,Fuyang
11,plettenberg bay,za,-35.925397,23.845670,69.87,41,0,1.12,
12,mingshui,cn,36.837691,117.297358,68.00,21,0,3.00,Jinan
13,joshimath,in,32.966348,80.917935,64.40,26,0,7.45,Ngari Prefecture
14,topolobampo,mx,25.098967,-109.859953,79.00,92,0,2.95,
15,komatipoort,za,-24.763552,31.773187,73.00,71,0,5.44,
16,matamoros,mx,25.300884,-97.217100,66.97,60,0,3.20,
17,fuling,cn,29.863516,107.761067,71.04,47,0,4.16,Chongqing
18,guerrero negro,mx,18.120040,-127.019569,66.99,88,0,9.19,
19,mehran,ir,33.252696,45.905998,69.80,16,0,4.70,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure